@media screen and (max-width: 640px) {
    .filters-container {
        position: fixed;
        bottom: 0.25rem;
        right: 2rem;
        z-index: 2;
        transition: all 400ms ease-in-out;
    }

    .filters-container.inactive {
        right: -50vw;
    }

    
}